{% extends "base.html" %}

{% block content %}
  <div class="wrapper">
    <header class="header">
        <div class="header__fon">
          <p class="header__img"><img src="{{ url_for('static',filename='img/фон.jpg') }}" class="header__img"></p>
            <div class="header__title">Mebel</div>
              <div class="header__subtitle">Мебельный магазин</div>
        </div>
    </header>
    <main class="main">
      <div class="content-block">
        <div class="content">
          <p class="content__img-item"><img src="{{ url_for('static',filename='img/стул.png') }}" class="content__img"></p>
            <div class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
      </div>
      <div class="content-block">
        <div class="content">
          <p class="content__img-item"><img src="{{ url_for('static',filename='img/стол.png') }}" class="content__img"></p>
            <div class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
      </div>
      <div class="content-block">
        <div class="content">
          <p class="content__img-item"><img src="{{ url_for('static',filename='img/стул2.png') }}" class="content__img"></p>
            <div class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}