<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style_profile.css') }}">
  <title>Мебельный магазин "Mebel"</title>
</head>
<body>
  <div class="menu">
    <div class="menu__body">
      <a href="/" class="menu__button">главная</a>
      <a href="/products" class="menu__button">товар</a>
      <a href="https://static-maps.yandex.ru/1.x/?ll=37.773085,55.425846&l=map&z=17&pt=37.773085,55.42584" class="menu__button">на карте</a>
      <a class="menu__button" href="/logout">выйти</a>
    </div>
  </div>
  <div class="wrapper">
    <main class="main">
      <div class="bar">
        <div class="bar__body">
          <div class="bar__name">
              Профиль
          </div>
          <div class="bar__name">
              {{ current_user.name }}
          </div>
        </div>
      </div>
      <div class="list">
          <div class="list__body">
            {% for item in products %}
            <div class="list__row">
              <p class="product_img"><img src="{{url_for('static', filename=item.image_name)}}" class="product_img"></p>
              <p class="item_title">{{ item.name }}</p>
            </div>
            {% endfor %}
          </div>
          {% if basket != False %}
            <a class="back-m" href="/ordering/{{ user.basket }}">Сделать заказ</a>
            <a class="back-m" href="/clear_cart">Очистить корзину</a>
          {% endif %}
          <p class="message">Итоговая цена: {{ total_price }}</p>
      </div>
    </main>
  </div>
</body>
</html>