@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Manrope:wght@200&display=swap');

p{
    text-align: center;
}

.container_of_product{
    display: grid;
    grid-template: 1fr / 1fr 2fr;
}

.product_body{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.products_title{
    font-family: 'Manrope', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}

.product_title{
    transition-duration: 0.3s;
    font-family: 'Manrope', sans-serif;
    font-size: 45px;
    text-align: center;
    text-decoration-line: none;
    color: black;
}

.product_img{

}

.product_title:hover{
    color: grey;
}

.product_set{
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
}

.row_product{
    margin: 30px;
}

.description_of_product{
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    margin-top: 60px;  
}

@media(max-width: 1200px) {
    .product_body{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }
}

@media(max-width: 900px) {
    .product_body{
        display: grid;
        grid-template: 1fr / 1fr;
    }
}

.btn-secondary{
    margin: 20px;
}

.message {
        font-family: 'Manrope', sans-serif;
        color:  limegreen;
}