@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Manrope:wght@200&display=swap');

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	display: grid;
	grid-template: 1fr / 1fr 8fr;
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;	
	background: white;
}

.menu__body{
	display: grid;
	grid-template: repeat(5, 1fr) 10fr / 1fr;
	height: 100%;
}

.menu__button{
	transition-duration: 0.3s;
	font-family: 'Manrope', sans-serif;
	font-size: 30px;
	text-align: center;
	text-decoration-line: none;
	color: black;
}

.menu__button:hover{
	color: grey;
}

main{
	background-image: url('/static/img/фон3.jpg');
	background-size: cover;
	height: 100%;
	display: grid;
	grid-template: 10% 90% / 1fr;
}

.bar{
	height: 10%;
}

.bar__body{
	width: 100%;
	display: grid;
	grid-template: 1fr / 10fr 1fr;
}

.bar__name{
	font-family: 'Manrope', sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
	margin-top: 0.5%;
	margin-left: 0.5%;
}

.list{
	border: 2px solid black;
	height: 90%;
	width: 90%;
	margin-left: 5%;
}

.list__body{
	height: 100%;
	overflow-y: scroll;
}

.list__body::-webkit-scrollbar {
  width: 0;
}

.list__row{
	display: flex;
	border: 1px solid  red;
	width: 90%;
	margin-left: 5%;
	padding-bottom: 150px;
	margin-top: 2%;
}

.list__column{
	border: 1px solid  green;
	padding: 80px;
}
